<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <script src="js/underscore.js"></script>
        <script src="js/jquery.js"> </script>
        <script src="js/backbone.js"></script>
    </body>
        <div id="content"></div>
        <script type='text/template' id='tmpl-first'>
            <%  _.each(collection, function(model){ %>
                Name: <%= model.name %>  and it's team is <%= model.team %> </br>
                <% })%>
        </script>


        <script src='app2.js'></script>



</body>
</html> 