

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <script src="js/underscore.js"></script>
        <script src="js/jquery.js"> </script>
        <script src="js/backbone.js"></script>
    </body>
        <div id="content"></div>



        <script type='text/template' id='my-template'>
            Name: <%= name %> and <%= author %>


        </script>
        <script>

            var Model = Backbone.Model.extend()

            var modelObj = new Model()

            modelObj.set({
                name: "dan",
                author: "stone"
            })
            var ModelView = Backbone.View.extend({

                template:_.template($("my-template").html()),
                el: "#content",
                model: modelObj,
                initialize: function() {
                    this.render();
                },
                render: function() {
                    // console.log("Viewe Create")
                    // console.log(this.model.get('name'))
                    // console.log(this.model.toJSON())
                    this.$el.html(this.template(this.model.toJSON()))
                }
            })

            var mview = new ModelView()

        </script>





</body>
</html>